{deps_dir, "../deps"}.

{sub_dirs, ["rel"]}.

{lib_dirs, [".", "deps"]}.


%{erl_opts, [debug_info, fail_on_warning, {d, debug, true}]}.
{erl_opts, [debug_info, fail_on_warning]}.

{deps, [ ]}.

{edoc_opts, [{overview, "overview.edoc"}, {dir, "doc"}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{cover_print_enable, true}.
{clean_files, ["*.eunit", "ebin/*.beam", "erl_crash.dump"]}.
{reset_after_eunit, true}.

{plugins, [ ]}.
